# VS Code
.ccls-cache/
.vscode/

# Mac OS
.DS_Store

# General Files
*.zip
*.doc
*.docx
*.pdf
*.7zip
*.7z
*.rar
*.xlsx

# Java
*.jar
.classpath
**/.settings/
**/bin/
**/META-INF/

# Embedded Systems
# build
/embed-sys/**/build/
/embed-sys/**/dist/
/embed-sys/**/.generated_files
/embed-sys/**/nbproject/

# doc
/embed-sys/doc/

# lib
/embed-sys/lib/
